.dialogs__wrap {
  width: calc(var(--sidebar-width-30) - 1px);
  padding: 0 3px;
	background-color: #FFF;
	position: absolute;
	top: 108px;
	left: 0; 
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.dialogs__wrap li {
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .dialogs__wrap {
    width: calc(var(--sidebar-width-35) - 1px);
  }
}

@media only screen and (max-width: 900px) {
  .dialogs__wrap {
    width: calc(var(--sidebar-width-40) - 1px);
  }
}