.activedialog__wrap {
  display: flex;
  flex-direction: column;
}

/* ------------------------Header------------------------ */
.activedialog__header {
  height: 59px;
  padding: 9px 16px;
  background-color: var(--sidebar-header-background);
  border-bottom: 1px solid var(--sidebar-border-color);

  display: flex;
  justify-content: space-between;
}

.header__user {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.header__user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: var(--background-top-color);
}

.header__user_info {
  display: flex;
  flex-direction: column;
}

.header__user_name {
  height: 20px;
  font-size: 16px;
}
.header__user_seen {
  height: 20px;
  width: 100%;
  font-size: 13px;
  display: flex;
  align-items: flex-end;
  line-height: 20px;
  opacity: .4;
}

.header__control {
  display: flex;
}
.header__control div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  opacity: .5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__control div:active {
  background-color: var(--header-control-background);
}

/* ------------------------Content------------------------ */
.activedialog__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.activedialog__content_background {
    width: 100%;
    height: 100%;
    background-image: url(/images/wallpaper-min.png);
    opacity: .7;
}
.activedialog__content_background::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--content-dialogs-background-color);
  opacity: .5;
}

.content__main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.content__main_messages {
  display: flex;
  flex-direction: column;
  margin: auto 0 0;
  padding: 0 9% 8px 9%;
}

.content__message {
  margin-bottom: 12px;
  padding: 6px 7px 8px 9px;
  max-width: 65%;
  border: 1px solid var(--sidebar-border-color);
  border-radius: 9px;
}

.content__message.incoming {
  float: left;
  align-self: flex-start;
  background-color: var(--message-incoming-background);
}

.content__message.outgoing {
  float: right;
  align-self: flex-end;
  background-color: var(--message-outgoing-background);
}

.content__message_text {

}

@media only screen and (max-width: 1300px) {
  .content__message {
    max-width: 75%;
  }
}
@media only screen and (max-width: 1024px) {
  .content__message {
    max-width: 85%;
  }
}
@media only screen and (max-width: 900px) {
  .content__message {
    max-width: 95%;
  }
}

/* ------------------------Footer------------------------ */
.activedialog__footer {
  height: 70px;
  background-color: var(--sidebar-header-background);
  margin-top: auto;
  display: flex;
  align-items: center;
  padding: 9px 0px 9px 0;
}

.footer__emoji {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  cursor: pointer;
}

.footer__input {
  width: 90%;
}

.footer__input input {
  border: 0;
  width: 100%;
  height: 42px;    margin: 5px 10px;
  padding: 9px 12px 11px;
  border-radius: 21px;
}

@media only screen and (max-width: 1100px) {
  .footer__input input {
    width: 98%;
  }
}

@media only screen and (max-width: 950px) {
  .footer__input input {
    width: 95%;
  }
}