/* .InfiniteScroll::after {
  display: block;
  content: '';
  height: 100px;
  background-color: chocolate;
} */

.test {
  
  display: flex;
  flex-direction: column-reverse;
}

.test2 {
  display: flex;
  flex-direction: column-reverse;

  /* исчезает скролл */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.true {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#scrollableDiv {
  background-color: rgba(255, 0, 0, 0.446);
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#scrollableDiv > div {
  height: 100%;
}
#scrollableDiv > div > div {
  height: 100%;
}

.InfiniteScroll {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.true2 {
  margin: auto 0 0;

  display: flex;
  flex-direction: column-reverse;

  /* position: absolute; */
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
}

#scrollableDiv div div div {
  background-color: white;
}
