.active {
  background-color: var(--sidebar-active-dialog-background);
}

.dialog__wrap {
  height: 72px;
  width: 100%;

  display: flex;
  position: relative;
}

.contact__avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin: 10px 15px;

  background: center / contain no-repeat url('/images/avatar-default.png');
  background-color: --background-top-color;
}

.contact__info {
  display: flex;
  flex-direction: column;
  height: 72px;

  position: absolute;
  left: 77px;
  right: 0;

  border-bottom: 1px solid var(--sidebar-dialog-border-color);
}

/* .contact__info::after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: red;
  margin-top: 0px
} */

.contact__info_wrap {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.contact__info_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 22.5px;
  margin-bottom: 2px;
}

.contact__info_userName {
  font-size: 1.3rem;
}
.contact__info_date {
  font-size: .8rem;
  margin-bottom: 4px;
  margin-right: 10px;
  opacity: .5;
}

.contact__lastmessage_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.contact__lastmessage_text {
  font-size: 14px;
  opacity: .6;
  overflow: hidden;
}

.dialog__settings_wrap {
  width: 20px;
  height: 15px;
  margin-right: 20px;
  position: relative;
}
.dialog__settings_wrap .dialog__settings_mark:first-child {
  display: none;
  content: '';
  height: 2px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.392);
  transform: rotateZ(45deg);
  position: absolute;
  top: 6px;
  left: 3px;
}
.dialog__settings_wrap .dialog__settings_mark:last-child {
  display: none;
  content: '';
  height: 2px;
  width: 10px;
  background-color: rgba(0, 0, 0, 0.392);
  transform: rotateZ(-45deg);
  position: absolute;
  top: 6px;
  left: 9px;
}
.dialog__wrap:hover .dialog__settings_mark {
  display: block;
}