:root {
  --background-top-color: #009688;
  --background-top-height: 125px;
  --background-mid-color: #d9dbd5;
  --content-main-background-color: #f8f9fb;
  --content-dialogs-background-color: #daba9b;
  --intro-secondary: rgba(0, 0, 0, 0.45);
  --header-control-background: #d5d5d5;
  --message-incoming-background: white;
  --message-outgoing-background: #dcf8d6;
  --page-shadow-rgb: rgb(162, 162, 162);
  --page-margin-top: 19px;
  --page-margin-top-bottom: 38px;
  --profile--main--color: #00bfa5;
  --sidebar-background-color: white;
  --sidebar-border-color: #e4e4e4;
  --sidebar-active-dialog-background: #ebebeb;
  --sidebar-dialog-border-color: #dddddd8e;
  --sidebar-header-background: #ededed;
  --sidebar-search-background: #f6f6f6;
  --sidebar-width-30: 30%;
  --sidebar-width-35: 35%;
  --sidebar-width-40: 40%;
  --scroll-track-color: #f6f6f6;
  --scroll-thumb-color: #dfdbdb;
  --search-container-background: #f6f6f6;
  --text--light--grey--color: grey;
  --text--draft--color: #c05f5a;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  letter-spacing: .8px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  line-height: 1.2;
  /* overflow: auto; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: var(--scroll-track-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 20px;
}